*{
    margin: 0px;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

body{
    display: grid;
    grid-template-rows: 1fr 1.5fr 8fr;
    grid-template-columns: 1fr 5fr 1fr;
    height: 100vh;
    gap: 4px;
}

.logo{
    grid-column: 1;
    grid-row: 1;
}

.search{
    grid-column: 2/4;
    grid-row: 1;
}

.name{
    grid-column: 2/4;
    grid-row: 2;
}

.sidebar{
    background-color: azure;
    grid-column: 1;
    grid-row: 2/4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.sidebar li{
    padding: 1rem;
    vertical-align: text-top;
}

.content{
    background-color:cadetblue;
    grid-column: 2/3;
    grid-row: 3/-1;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 4fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 2fr));
    gap: 8px;
    align-self: stretch;
}

.card{
    background-color: bisque;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.rightbar{
    grid-column: 3;
    grid-row: 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}