*{
    margin: 0px;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

body{
    display: grid;
    grid-template-rows: 1fr 1fr 8fr;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100vh;
}

.main{
    font-weight: 700;
}

.logo{
    grid-column: 1;
    grid-row: 1;
    padding: 8px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #7fa99b;
    color: black;
}

.logo img{
    align-self: center;
    justify-self: center;
    width: 48px; 
    height: auto
}

.logo p{
    align-self:center;
    justify-self: start;
    font-size: 1.5em;
    font-weight: 700;
}

.search{
    grid-column: 2/4;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 2fr;
}

.search img{
    width: 24px;
    height: auto;
    place-self: center;
}

img .magnify{
    justify-self: left;
}

img .profile-logo{
    width: 100px;
    height: auto;
}

.search p{
    font-size: 1.25em;
    font-weight: 700;
    place-self: center;
}

.search .bar{
    justify-self: left;
    align-self: center;
    width: 80vh;
    height: 30px;
    background-color: grey;
    border-radius: 8px;

}

.name{
    grid-column: 2/4;
    grid-row: 2;
    padding: 8px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    background-color: #fdc57b;
}

.name img{
    width: 48px;
    height: auto;
    place-self: center;
}

.name div{
    align-self: center;
}

.name .main{
    font-size: 1.25em;
    font-weight: 700;
}

.name button{
    border-radius: 8px;
    width: 10vh;
    height: 5vh;
    place-self: center;
    background-color: #7fa99b;
    color: #fbf2d5;
}

.sidebar{
    background-color: #7fa99b;
    color: #394a51;
    grid-column: 1;
    grid-row: 2/4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.sidebar li{
    padding: 1rem;
}

.sidebar img{
    width: 24px; 
    height: 24px; 
    vertical-align:middle;
}

.content{
    background-color: #394a51;
    grid-column: 2/3;
    grid-row: 3/-1;
    padding: 12px;
}

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    gap: 16px;
}

.card{
    background-color: #fbf2d5;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 8px;
    border-radius: 8px;
}

.card .right{
    text-align: right;
}

.card img{
    width: 24px;
    height: auto;
}

.rightbar{
    padding: 8px;
    grid-column: 3;
    grid-row: 3;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr 8fr;
    gap: 4px;
    background-color: #394a51;
}

.rightbar p{
    color: #fdc57b; 
    font-weight: 700;
}

.rightbar .announcement, .trending{
    background-color: #fbf2d5;
    color: #7fa99b;
    border-radius: 8px;
    box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 8px;
}

.rightbar .main{
    color: #394a51;
}